
.chatbot-header {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    background-image: url('../../static/images/medical_records1.jpg');
    background-size: 'cover';
    background-position: 'center';
}
/* Main chat container */
.chat-container {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;

}

/* Messages */
.message {
    padding: 10px 20px;
    margin: 5px 10px;
    border-radius: 20px;
    max-width: 100%;
}

.message.user {
    background-color: #007BFF; /* Blue */
    color: white;
    align-self: flex-end;
    width: fit-content;

}

.message.bot {
    background-color: #f4f4f4; /* Grey */
    color: black;
    align-self: flex-start;
    width: fit-content;
    margin-left: 10px;
}

/* Input field and send button container */
.input-container {
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px 20px 0 0;
    background-color: white;
}

/* Input field */
.input-field {
    border-radius: 15px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

/* Send button */
.send-button {
    background: linear-gradient(45deg, #007BFF, #0056B3);
    border-radius: 20px;
    color: white;
    transition: background 0.3s, transform 0.3s;
}

.send-button:hover {
    background: linear-gradient(45deg, #0056B3, #003E8A);
    transform: scale(1.05);
}
.blurred {
    filter: blur(4px);
    pointer-events: none;
    user-select: none;
}

