.body {
    margin: 0;
    padding: 0;
}

.container {
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #f7f7f7;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.mission-section {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-size: cover;
    background-position: center;
    color: #fff;
}

.mission-content {
    width: 50%;
}

.mission-image img {
    max-width: 100%;
}


.view-more {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
}

.footer {
    padding: 40px;
    background-color: #333;
    color: #fff;
}

.overlay-content {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    margin-top: 50px;
}

/* Additional styles for AppBar components */
.button-container {
    display: flex;
    align-items: center;
    position: absolute;
    right: 10px;
}

.appbar-link {
    text-decoration: none;
    margin-right: 15px;
}

.appbar-button {
    color: inherit;
}

.appbar-title {
    flex-grow: 1;
    margin-left: auto;
}

