<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<!-- if user click button, the button will be highlighted -->
<style>

.modal {
  display: none;
    padding: 20px;

}



input[type="checkbox"] + label {
    cursor: pointer;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 5px;
    background-color: #f0f0f0;
}

input[type="checkbox"]:checked + label {
    background-color: #2ecc71; /* Style when the checkbox is checked */
    color: #fff;
}

/* Style the submit button */
#submit {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 10px;
}

#submit:hover {
    background-color: #2980b9;
}
</style>


<body>
<div>
    <!-- if user is authenticated, show the following -->
    <!-- If the user is authenticated, show the following -->
    <div>
        {% if user.is_authenticated %}
        <form id="bodyPartsForm">
         {% csrf_token %}
            <!-- firest select male or female first-->
            <label>choose gender:</label>
            <select name="gender" id = "gender">
                <option value="male">male</option>
                <option value="female">female</option>
            </select>

            {% for bodypart in bodyparts %}
            <input type="checkbox" name="body_part" value="{{ bodypart }}" id="{{ bodypart }}">
            <label for="{{ bodypart }}">{{ bodypart }}</label>
                <!-- add specific questions of corresponding body part in according to csv file -->

                <div id="{{ bodypart }} div" class="modal">

                </div>
            {% endfor %}
        </form>
        <!-- Add a button to submit the form -->
        <button id="submit">Submit</button>
        {% else %}
            <p>Please login</p>
        {% endif %}
    </div>
</div>

<!-- 1. buttons make users to choose body part they feel uncomfortable -->


</body>
<script>
    // the questionnaire is pd.read_csv from the server
    var bodyparts = document.getElementsByName("body_part");
    // if user click, the button will be highlighted and send response to server
    // to get the response of sepcefic question of that body part and show it on the page
    bodyparts.forEach(function (bodypart) {
        bodypart.addEventListener("click", function () {
            var baseurl = window.location.protocol + '//' + window.location.host;
            console.log(baseurl);
            // get gender accourding to user's selection
            var selection = document.getElementById("gender")
            // value of <selection>
            var gender = selection.options[selection.selectedIndex].value;
            // questionDiv is the div block of specific question of that body part

            var questionDiv = document.getElementById(bodypart.value+" div");

            console.log(questionDiv);
            if(questionDiv.style.display == "block"){
                questionDiv.style.display = "none";
                return;
            } else{
                questionDiv.style.display = "block";
                // if the questionDiv has child element is not empty, return
                if(questionDiv.children.length > 0){
                    return;
                }
            }



            var user_name = "{{ user.username }}";
            var url = baseurl + "/login/" + user_name + "?bodypart="+ bodypart.value+"&gender="+gender;
            console.log(url);
            // send get request to server and the parameter is user name and body part
            var xhr = new XMLHttpRequest();
            xhr.open("GET", url, true);
            xhr.send();
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {

                    var response = xhr.responseText;
                    response = JSON.parse(response);
                    var questions = response["questions"];
                    console.log(questions);
                    for (var i = 0; i < questions.length; i++) {
                        var question = questions[i];

                        // append selected button to questiondiv block
                        console.log(question);

                        var questionP = document.createElement("input");
                        questionP.type = "checkbox";
                        questionP.name = "body_part";
                        questionP.value = question;
                        var questionLabel = document.createElement("label");
                        questionLabel.innerHTML = question;

                        questionP.innerHTML = question;
                        questionDiv.appendChild(questionP);
                        questionDiv.appendChild(questionLabel);

                    }

                }
            }
        });
    });


    // if user click, submit, send get request with user name and body part to server, url is url + selection
    var submit = document.getElementById("submit");
    var baseurl = window.location.protocol + '//' + window.location.host;
    var user_name = "{{ user.username }}";
    submit.addEventListener("click", function () {
        var bodyPartsForm = document.getElementById("bodyPartsForm");
        var bodyParts = bodyPartsForm.elements["body_part"];
        var bodyPart = "";
        // iterate and transfer all checked body parts to server
        for (var i = 0; i < bodyParts.length; i++) {
            if (bodyParts[i].checked) {
                bodyPart += bodyParts[i].value + ",";
            }
        }
        // send get request to server and the parameter is user name and body part
        var url = baseurl + "/user/" + user_name + "/" + "selection?body_part=" + bodyPart;
        console.log(url);
        window.location.href = url;
        // if the request is successful, redirect to the page of url, otherwise, alert error



        // redirect to the page of url
    });

</script>

</html>
